.Model{
    font-family: Montserrat;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
}
.OOFT{
    font-family: Montserrat;
    font-size: 20px;
    text-align: center;
    margin-top: 7px;
}
